language: java
cache:
  directories:
  - "$HOME/.m2"
jdk:
- oraclejdk8
sudo: required
services:
- docker
notifications:
  slack:
    secure: HAkVJBgThf2WBBz7LQtf+aRQd41sWNibfNWgjLMcMFk0wuTs3RDkE8KK0Jxe5MRmdg2GGU6LLoeD5miRdsgQ15gpAKYgy8S8vM6MYN15uk5Ky1kNvjeSICIxxdjDPKBYyU5sx/2KtqZcNQNsTwHUmF3Tw5V5dOCUYlQ3KrOSlck6j80sPs+McVyvma2uN1ewL7qDSf4AHOW7yycxXCZeHJvwtyPO9AT9HKOerDi/cu9PewpGNd6KW2WmKj+1SkQnEi3wYcD673ZyV3OXxorGUCPzA/Sen2dixJ2ONqc4EosF5mPnTFXwdWTAkvY4u8c5xonCcNrgkzuz6Hew0VAs9ozj6A3KULt6ZLEeKmTE8JB5GA10vdf+w9R7YC2CTjLY1SUrtHNbjKgV7VhKcqZ1oa0cX0B/HpxmfYQlyBU1LGLXfuSsbg3DMVwWP8qCmNHSD9qhsU+xgSAXpkP3v7vWbJpF/H0q+LC0UicZez5kh62xjR1RcEioWjKgdMOw4aSOnYH7Js8qLyiueeB5uCSUOZDlZ/QRg05wNvigyDHJrBk6EUhlgSHwpCVQ4ihM3YAvrwZNvHQE8EmsGvj49aGKDqF7fteiSEEdRyQq8eXC17NQnj4qpv2IhtdPquUVdZ/pM0wRlXdKPoPpXGy0mp/KJ1y9oSiqaYoGRhp1qOuivkQ=
  email:
  - anthony.denecheau@gmail.com
  on_success: always
  on_failure: always
branches:
  only:
  - master
env:
  global:
  - secure: IZlJb73JFnTmcuDyd3RVOLWc0d+EDQJSQ3uHzwqjoRpo44dMpDdYNWk5gQOgFRHLVFnUPsMBS4R4tDDJChHv7RG4stGgwYf1v/baAZpgRqlnG2c+Fiu5WqG3PbHlkbp6dzLm6siVSyKoC8mwlmMMvx2e0A41UihZ8EUP2iqOlUTwLXwg/XrMWLfLaprXfwWY9JNT4749zCGeKO3g9+txpjx9okquq9M/RqmOxUGX/v2ZtqxT2m7XzJNjMw+//yV/T5gttN814b4kMn9YzNnWqf0QceEbFJ0ti4t+NMCMXpLNpOB/EMyjZGebw64oIeRPAlXnH0R9mLYZ1aur8rFf7K1dYtR2ZAwZDudjAt8qCQMMWqZGaS2O6CB5fGkowAhoEiW4a4WrGg4Jzw7uokN24hyBTiqmULSdZ/3JhBDD8iFMofjoXEtrFD/AEStq5GXDnyOUFVrzFC3juYfZKJXwsMgD6losrndWQ91otZxjdSAsT7DnFXq7e4EFwuwpby2IkoiO2wAWgSBI5emkuMo1Fi98rKJu6cAB+wF1jbMHOwvD+BJKcJxT1p3kZx4w3IZ7KxdVoER7PxRiibNJx2f5V24m5DHD3iUMtNEkikeZ5hHDch9xs3DYcjzvnL8lnwJArGoC0HJ9JqEaYqa9D8dTcd1gy2HIC0vLqiENsHxu0X0=
  - secure: tWMuIJKZKJh0ma6n5/8wwTTLtApsAN1zCRCbmbJf+/3538vwCxVLjloxWGiL5KCyfMCl42evmKu/NBc5c23khQ33SaQkzX5S9SeyusozbkOx582RnfixWnvyWH/QYNvOYV0ShqsW0TK+4RdLNNEnbsgqCLcr9btGDLJej1gmQokPKIRjMNjuJyF1wnYNpyduMnNkLGrNdB+EhIwfOp8qqaP1OTJUShn/zrTRCgBgNzX3wjt9YHTfvIWusYHQVLDtGZhIIQMOqQ/2pcnskubLIPEcjuGoJ8P6bnb6vz7AnVdBOXyp+3Mm/HCBQinQAiTz8h9J1jJ3f/0o6IRry4EYK8dOC95XKL7LHQyNVgJCxFLBDFTLOLtUSmBw+MrAUbPcof4oxClFlGPRIfEDO1K05tgKlHHsUi3jqCCs/vX17xQ82KxwF+vx17tuNqPglu90CBdfnBAxbd9ic1hUI/VPFTDgXQ46Rw9qul9dGfcSwCCiNtyaaISNeNXTU5diuZQrW+rp0Z0tXDaVaSNEkuPo8aiv58VFIjHckaXAMM1d8gpF+xuj7iNPx39lmBoDAMoTmjJq6JfGZjvZjeUwfQpjxu0owd3BnO9pSLiTirXTtLfSJiMG9AjVaVBxnMtqlNTS6eThrQwKS8YVDi/KAYTCbnYPE79ervLC1aFWktM+iBs=
  - secure: sccuyDfQNilEe7P4vdgwtEM3dQRWSNVTyKT+/srUr+nshBj/+dX3W3Tdk/51ovGkRpqRGtCG5nrvxZjiix6uGrMib99Ct1h1GVILIHTRD0m7kCVlYo5lE2TXBOOAMkc3+B42p551hZ7wvuTxIntl8cTsq41GUzh69Q5v+fR/YCvcZf7rR4QuAqMQtL8JMUPnAuMsPcPP/v0FugnxuEgf6ydY7sVZiXwzQC0q5jVggOQqVM4UQxHHfTbCu44li2O09BuOsj18Ti92rpxaJmFE0/ZgfEWcz/CCdPH24ZlE2d192xvuf85TJOtHcxN/ayKM2UP17ljfLnD2/M+UNLeN9QRmysHQvh0LjmKCUMiyKV9DeZKg+HxF20zSKww96vDBLwP8QC7DMEnq2P6p9uh3Saw7UrP278ttNdTtOXR6N++fe+0BMzVxIF317UnNz7zkatZQtwU8BooGXHiRzKfclmKJ1AOIJrK77bE0Nz2ja8sq1+GXIxzeVOpFaUJ/fouoEqUR3wELaqB0CaHVzCvjpqANqAY/P7L/jChHvvONhKHb/WXAPFH7vHot03yoQ8IT9vsLFiSHwg5W26iAaaPEpHuGYdKryk/uT7/rS+T6YO58u5OBFxTYM9BKComEXd8d7EhffQawyLA9S9A7tcqP7YOUFmktqCiXFkrsRRyEIW0=
before_install:
- gem install travis -v 1.8.5 --no-rdoc --no-ri
- export BUILD_NAME=scc-eurekasvr-$TRAVIS_BRANCH-$(date -u "+%Y%m%d%H%M%S")-$TRAVIS_BUILD_NUMBER
script:
- sh scripts/travis/tag_build.sh
- sh scripts/travis/build_services.sh
- sh scripts/travis/deploy_to_docker_hub.sh
